:root {
  --background-color: rgb(9, 36, 38);
  --primary-color: rgb(17, 71, 80);
  --secondary-color: rgb(136, 225, 201);
  --input-color: rgb(214, 213, 213);
  --btn-color: rgb(99, 99, 98);
}

.theme {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: 'Rubik', sans-serif;
  padding: 2rem;
  border-radius: 2em;
  box-shadow: 10px 10px 5px var(--input-color);
}

.list-group-item {
  color: var(--background-color);
}

.submit-btn {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.reset-btn {
  background-color: var(--input-color);
  color: var(--background-color);
}

input[type=text], input[type=number] {
  background-color: var(--input-color);
}
