header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid darkblue;
    background-color: lightblue;
}

h1 {
    line-height: 100px;
    text-align: center;
}

.image-padding {
    padding: 20px;
    background-color: #999900;
}

.image-border {
    border: 10px solid darkblue;
}

.image-margin {
    margin: 20px;
}
