<section class="container-fluid">
  <h1 class="page-title">{{gallery.name}}</h1>
  {{#each gallery.paintings as |painting|}}
  {{!-- TODO: Use the 'painting-details' partial to render each painting of the gallery --}}
  {{/each}}
</section>