*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #eff5f8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
  width: 650px;
  background-color: #f0ead6;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

.image {
  max-width: 600px;
  max-height: 600px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 20px;
  /* padding-bottom: 20px; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

a:link {
  text-decoration: none;
}