body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border: 5px solid red;
  background-color: gray;
  color: #fff;
}

h1 {
  border: 5px solid goldenrod;
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  border: 2px solid orangered;
  font-size: 250%;
}

span {
  border: 2px solid orangered;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 5px solid goldenrod;
  min-width: 300px;
}

nav a {
  color: #fff;
  border: 2px solid orangered;
  padding: 1px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
  padding: 1%;
  border: 5px solid red;
}

section {
  flex: 1 1 0;
  padding: 1.5%;
  padding-right: 5%;
  border: 5px solid goldenrod;
}

article {
  border-bottom: 1px solid #d8a47f;
}

article p {
  margin: 2% 0;
  border: 2px solid orangered;
  padding: 1%;
  font-size: 110%;
  
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  border: 2px solid orangered;
  padding: 1%;
  list-style: circle;
}

aside {
  width: 25%;
  padding: 1%;
  border: 5px solid goldenrod;
}

aside h2 {
  font-size: 150%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  border: 2px solid orangered;
}

button {
  background-color: gray;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: gray;
  color: #fff;
  border: 5px solid red;
}

.resources {
  border: 5px solid goldenrod;
}
.resources .links {
  padding: 1% 0;
}

.resources:hover .links {
  display: block;
}

.resources h3 {
  font-size: 150%;
}

.links a {
  color: #772014;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}

/* Hide various elements from being printed */
@media print {
  .resources,
  aside {
    display: none;
  }
}
