{{!-- TODO: Only if the user is logged in, render the gallery content --}}
<section class="container">
  <h1>{{gallery.name}}</h1>
  <h2>Opening Hour: {{format_time gallery.starting_date}}</h2>
  <h2>Closing Hour: {{format_time gallery.ending_date}}</h2>
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
</section>
{{!-- TODO: Otherwise, provide a link to login --}}