{{name}}
{{email}}

<form class="new-project-form">
  <div>
    <label for="project-name">Project Name</label>
    <input type="text" id="project-name" name="project-name" />
  </div>
  <div>
    <label for="project-funding">Needed Funding</label>
    $ <input type="number" id="project-funding" name="project-funding" />
  </div>
  <div>
    <label for="project-desc">Description</label>
    <textarea id="project-desc" name="project-desc"></textarea>
  </div>
  <button type="submit" class="btn">Create</button>
</form>

<script src="./js/profile.js"></script>
