<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h1>{{painting.title}}</h1>
    <p>Artist: {{painting.artist}}</p>
  </div>
</section>