nav {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button {
  width: 250px;
  margin: 0 .5%;
  font-size: 200%;
  color: #6c7575;
  background-color: #fafafa;
  border: 3px solid #6c7575;
  outline: none;
}

/* The user's cursor is positioned over the element */
button:hover {
  background-color: #497573;
  color: white;
}

/* The user is actively pressing down on the element */
button:active {
  font-size: 190%;
  box-shadow: 0 0 10px black inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
button:focus {
  border-color: #99f7f2;
}