section {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 15px solid black;
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 9px solid darkblue;
    background-color: lightblue;
}