* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: #92a8d1;
  color: white;
}

nav {
  display: flex;
  background-color: #034f84;
}

nav p {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

main {
  display: flex;
}

aside {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  flex-wrap: wrap;
}

section {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Image Placeholders */
.sample-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: 200px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #034f84;
  color: white;
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 600px) {
  .sample-img {
    background-color: #92a8d1;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #f7cac9;
  }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #f7786b;
  }
}
