*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #FFFFE0
}

h1 {
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.25em;
  color: #001b44;
}

.container {
  max-width: 1000px;
  margin: 25px auto;;
}
.box {
  display: block;
  float: left;
  width: 30%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  font-size: 150px;
  color: whitesmoke
}

@media (max-width: 740px) {
  .box {
    width: 48%;
  }
}
