<!-- This template and others are the exact same as before, but now we are using a db instead of hardcoded data -->
<div class="dish-card">
    <h2>{{dish_name}}</h2>
    <p>Description: {{description}}</p>
    <p>Guest: {{guest_name}}</p>
    {{#if has_nuts}}
    <p>Contains Nuts</p>
    {{/if}}
</div>