<section class="container-fluid">
  <h1 class="page-title">{{gallery.name}}</h1>
  <h2>Opening Date: {{gallery.starting_date}}</h2>
  <h2>Closing Date: {{gallery.ending_date}}</h2>

  {{#each gallery.paintings as |painting|}}
  {{> painting-details}}
  {{/each}}
</section>