* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #92a8d1;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #034f84;
}

/* Style the navigation bar links */
.navbar p {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

/* Column container */
.row {
  display: flex;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 600px) {
  .fakeimg {
    background-color: #92a8d1;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: #f7cac9;
  }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  .header {
    background: #f7786b;
  }
}
