body {
  /*Sets the position of the body to relative*/
  position: relative;
  margin: 0;
  padding: 0;
}

main {
  /*Adds padding to the top of the main element equal to height of fixed header*/
  padding-top: 100px;
}

h1 {
  text-align: center;
}

header {
  /*Sets header position to fixed*/
  position: fixed;
  /*Positions header 0 length from top of page*/
  top: 0;
  width: 100%;
  height: 100px;
  border-bottom: 10px solid darkblue;
  background-color: lightblue;
}

section {
  width: 600px;
  height: 600px;
  margin: 40px auto;
  border: 15px solid black;
}

img {
   /*Specifies the stack order of the images*/
   z-index: -1;
}

#relative-2 {
  /*Sets position to relative*/
  position: relative;
  /*Offsets from normal flow by 200px from the left*/
  left: 200px;
}

#relative-3 {
  /*Sets position to relative*/
  position: relative;
  /*Offsets from normal flow by 200px from the right*/
  top: 200px;
}

#relative-4 {
  /*Sets position to relative*/
  position: relative;
  /*Offsets from normal flow by 200px from the left*/
  left: 200px;
  /*Offsets from normal flow by 200px from the top*/
  top: 200px;
}

#absolute-section {
  /*Sets parent element to relative*/
  position: relative;
}

#absolute-1 {
  /*Sets position to absolute*/
  position: absolute;
  /*Positions image zero length from top of parent container*/
  top: 0;
  /*Positions image zero length from left of parent container*/
  left: 0;
}

#absolute-2 {
  /*Sets position to absolute*/
  position: absolute;
  /*Positions image zero length from top of parent container*/
  top: 0; 
  /*Positions image zero length from right of parent container*/
  right: 0;
}

#absolute-3 {
  /*Sets position to absolute*/
  position: absolute;
  /*Positions image zero length from bottom of parent container*/
  bottom: 0;
  /*Positions image zero length from left of parent container*/
  left: 0;
}

#absolute-4 {
  /*Sets position to absolute*/
  position: absolute;
  /*Positions image zero length from bottom of parent container*/
  bottom: 0;
  /*Positions image zero length from right of parent container*/
  right: 0;
}
